<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1016216695880-vgnpajo05mecnuoqfrile44dek90r56s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016216695880-vgnpajo05mecnuoqfrile44dek90r56s</string>
	<key>API_KEY</key>
	<string>AIzaSyDkxn247q5DhJlpOH9RZsjqNG5DFE_72S4</string>
	<key>GCM_SENDER_ID</key>
	<string>1016216695880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.oinkiiApp</string>
	<key>PROJECT_ID</key>
	<string>oinkiimx</string>
	<key>STORAGE_BUCKET</key>
	<string>oinkiimx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016216695880:ios:017775f02271045c</string>
	<key>DATABASE_URL</key>
	<string>https://oinkiimx.firebaseio.com</string>
</dict>
</plist>
